---
---

// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@font-face {
  font-family: "Roboto Slab";
  src:
    local("Roboto Slab"),
    url("https://ruecharli.blog/assets/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

$base-font-family: "Roboto Slab" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;

@import “{{ site.theme }}”;

/* FYI: unrelated to the font-face customisation, make any other css overrides here. */
